<!DOCTYPE html>
<html>
{% include "master.html" %}

<body><br/><br/><br/>
  <p>
    I give permission for my child to use all of the play equipment and participate in all of the activities at Children’s House.<br/>
    I give permission for first aid certified staff members to use antiseptic as part of the first aid process if necessary (will not be used for minor injuries).<br/>
    I give permission to Children's House to release (to enrolled parents/staff only) my email address, home address and phone number for the purpose of parent communication, parent references, or use by children’s parents for birthday parties, play groups, etc. (Cross out any items you do not wish to allow - ok to only allow work phone # - please make notation if preferred).

</body>
</html>


