<html>
{% include "master.html" %}
<center><h1>{{title}}</h1></center></center>

<table align='center' border =2>
    <thead>
        <tr>
            <tr>
                <td>Id</td>
                <td>Employee First Name</td>
                <td>Employee Last Name</td>
                <td>Sign In Date</td>
                <td>Sign In Time</td>
                <td>Sign Out Date</td>
                <td>Sign Out Time</td>
                <td>Facility_Name</td>
                <td>Hours_Worked</td>
                <td>Salary_Earned</td>
            </tr>
        </thead>
        {% for d in queryset %}
        <tbody>
            <tr>
                <!-- <td>{{forloop.counter}}</td> -->
                <th scope="row">{{d.id}}</th>
                <td>{{d.Teacher_First_Name}}</td>
                <td>{{d.Teacher_Last_Name}}</td>
                <td>{{d.Sign_In_Date}}</td>
                <td>{{d.Sign_Out_Date}}</td>
                <td>{{d.Sign_In_Time}}</td>
                <td>{{d.Sign_Out_Time}}</td>
                <td>{{d.Facility_Name}}</td>
                <td>{{d.Hours_Worked}}</td>
                <td>{{d.Salary_Earned}}</td>
            </tr>
        </tbody>
        {% endfor %}
</table>


</html>

