<!DOCTYPE html>
<html>
{% include "master.html" %}

<body><br/><br/><br/>
  <p>
  Name: Florida Atlantic Owls Childcare System<br><br>
  Address: 777 Glades Rd, Boca Raton, FL 33431<br><br>
  Phone: 561-297-3720<br><br><br><br>
  Office of Administration Services<br><br>
  Contact<br>
  Hours:<br>
  Monday - Friday<br>
  8am - 5pm <br>
  Name: Mike Martinez <br>
  Email: mmartinez@owlchildsystem.com <br>
  Phone: 551-523-6745<br>
  License Number: B-563678298<br><br><br>


  <td><a type="button" href="/report/{{d.id}}" class="btn btn-outline-primary">Report Attendance</a></td><br><br>
  <td><a type="button" href="/balance_report/{{d.id}}" class="btn btn-outline-primary">Report Balance</a></td>

</body>
</html>


