<!DOCTYPE html>
<html>
{% include "master.html" %}

<body><br/><br/><br/>
  <p>
  Proven in Child Care
  For over 30 years, daycare and center owners have looked to Procare to provide real-time information for making critical decisions, maintaining compliance with local and state regulations and adhering to business best practices. 
  
  End-to-End Capabilities
  Procare saves you time and money by streamlining core administrative functions while raising the bar for the parent experience with professional communications, easy-to-access portals and the opportunity for real-time updates. Procare can be configured to meet every need. We even make it easy to connect to other specialty systems such as payroll to make Procare the one-stop hub for everything you need to successfully run your child care center.
  
  Equipped for Any Center
  Priced and sized right, our all-in-one solution for a single center starts at only $79/month. We handle the business administration so you can focus on what matters most – better outcomes for the children in your care.  No contracts, no set-up fees, no per-child charges – just one price for all the capabilities you need to run your center or school.
  
  Designed Specifically for Child Care Professionals
  Procare understands the importance of your role in managing a center or school. Tracking child attendance, having easy access to family information, handling schedules, keeping records, communicating with parents, billing and processing payments are administrative tasks that we do for you so you can spend more time with the children in your care. 
</body>
</html>


