<head>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }
    </style>
    </head>
    <center><h1>Childcare Management System</h1></center>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/reg">New Child Registration</a></li>
        <li><a href="/exist">Registered Child</a></li>
        <li><a href="/search">Search Child</a></li>
        <li><a href="/dropout">Drop out Child</a></li>
        <li><a href="/emp">Employee Registration</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>